
.selectedPage{
    font-weight: bold;
    color: #DBDFDD;
    background-color: #4267B2;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 100%;
    line-height: 30px;
}

.pageNumberBox{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    box-sizing: border-box;
}

.pageNumberBox:hover{
    /*border: solid #4267B2 2px;*/
    line-height: 30px;
    border-radius: 100%;
    background-color: rgba(66, 103, 178, 0.7);
    color: #DBDFDD;
    font-weight: bold;
}

.divide{
    width: 10px;
    height: 30px;
}

.pageSelector{
    /*margin-left: 116px;*/
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
}

.pageSelector>div{
    cursor: pointer;
}

.pageSelectorContent{
    display: flex;
    align-items: center;
    font-size: 10px;
}

