.userpic{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    /*position: absolute;*/
    margin: 5px 15px 0px 10px;
}

.userBox {
    display: flex;
    background: #fff;
    width: 624px;
    margin: 10px;
    padding-bottom: 5px;
    overflow: hidden;
    border-radius: 0px;
    box-sizing: padding-box;
}

.followedUser{
    background: #fffded;
}


.userPicAndButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectedPage{
    font-weight: bold;
}

.pageSelector{
    margin-left: 110px;


}

.pageSelector>span{
    cursor: pointer
}

.location{
    font-size: 10px;
    padding-left: 5px;
    /*background: orange;*/
}

.userName{
    padding-top: 12px;
    color: #4a4a4a;
    font-weight: 700;
    font-size: 18px;

}

.status{
    color: #4B676A;
    font-size: 14px;
    font-style: italic;
    padding-left: 5px;

}

.butFolow{
    color: #f00
}

.searchModule{
    display: flex;
    height: 40px;
    align-items: center;
    border-bottom: solid white 3px;
    justify-content: flex-end;
}

.searchModule>div{
    padding: 0px 11px 0px 20px
}
