.content{
    grid-area: c;
    background: rgb(219, 223, 221);
  }

.textAreaNewPost{
    margin: 10px auto 10 auto;
    width: 475px;
    min-height: 40px;
    background: #fffded;
    border-radius: 5px;
    padding: 20px;
    color: rgb(104, 101, 60);
    font-size: 14px;
    font-weight: 800;
    display: flex;

};

.textAreaNewPost:hover{
    border: 1px solid red;
}



.postsNewPostTextAreaBloc{
    display: flex;
    justify-content: center;
    align-items: center;

}

.postsNewPostTextAreaBloc div div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonBox{
    display: flex;
    justify-content: flex-end;
}

.buttonBox>div{
    /*padding-left: 620px*/
    display: flex;
    justify-content: flex-end;
    padding: 0px 67px 0px 50px;
}

.buttonBox button{
    color: rgb(104, 101, 60);
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    margin-right: 15px;
    background: #fffded;
}