.header{
    grid-area: h;
    background: cyan;
    display: flex;
    height: 100px;
  
  }
  
  .header img{
    width: 60px;
    height: 60px;
    display: flex;
    margin: 20px 80px;
  }

  h1{
      font-size: 40px;
      font-style: italic;
      color: #255499;

  }

  h1>span{
      text-decoration: line-through;
      font-weight: lighter;
  }

.loginBox {
    align-self: center;
    text-align: right;
    padding-left: 400px;
    color: #fff;
}

.loginBox a {
    color: #fff;
    text-decoration: none;
}