/* .content{
    grid-area: c;
    background: rgb(219, 223, 221);
  } */

.postContainer{
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 515px;
  margin: 8px auto 0px auto;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.08);
  overflow: hidden;
  border-radius: 5px;
}


.userpic{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  /*position: absolute;*/
  margin: 10px;
  margin-left: 15px;
  z-index: 10;
}  

.postHead{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fafafa;
}


.item{
  display: flex;
  width: 100%;

  /*border: 1px solid red;*/
}

.textBlock{
  box-sizing: border-box;
  display: flex;
  width: 100%;
  min-height: 60px;
  background: #fff;
  /*border-radius: 5px;*/
  padding: 10px;
  color: rgb(104, 101, 60);
  font-size: 14px;
  font-family: inherit;
  border-top: 1px dotted #E9EBEE;
  border-bottom: 1px dotted #E9EBEE;


}
.likes{
  width: 130px;
}


.deleteButton{
  /*position: absolute;*/
  align-self: flex-start;
  width: 20px;
  /*height: 20px;
  right: 10px;
  top: 10px;*/
  /*background: #f8ecde;*/
  /*border-radius: 50%;*/
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  transition: width 0.3s;
  padding-right: 10px;
}
.deleteButton:hover{
  align-self: flex-start;
  /*background: #ff8580;*/
  cursor: pointer;
  /*color: #eee2d4;*/
  color: #5e6063;
  width: 70px;
  border-radius: 10px;
}

.deleteButton:hover span{
  align-self: flex-start;
  display: inline;
  font-size: 14px;
  font-weight: 100;
}

.deleteButton span{
  align-self: flex-start;
  display: none;
  font-size: 14px;
  font-weight: 100;
}

.postColontytul{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #5e6063;

}

.shadowContainer{
  display: flex;
  flex-direction: column;
  width: 515px;
  margin: 0px auto;
  height: 10px;
}

.shadowContainer img{
  height: 15px;
}

.superContainer{
  display: flex;
  flex-direction: column;
  width: 515px;
  margin: 0px auto;
}

.postUserName{
  align-self: center;
  flex-grow: 1;
  padding-left: 5px;
  color: #5e6063;
  font-weight: 600;
}