.container{
  display: flex;
  justify-content: center;
}
.app-wrapper{
  display: grid;
  grid-template-rows: 44px 1fr;
  grid-template-columns: 200px 645px;
  grid-gap: 5px;

  grid-template-areas:
  "h h"
  "n c";
  width: 850px;
  margin: 0 auto;  
}

.app-wrapper-content {
  grid-area: c;
  background: #E9EBEE;
  min-height: 100vh;
}






